[submodule "jfbuild"]
	path = jfbuild
	url = ../jfbuild
	branch = amiga
[submodule "jfaudiolib"]
	path = jfaudiolib
	url = ../jfaudiolib
	branch = amiga
[submodule "jfmact"]
	path = jfmact
	url = ../jfmact
